.vs/permissivity-project/FileContentIndex/53336b6a-ea30-47f5-9f4c-379529dc48a9.vsidx
.vs/permissivity-project/FileContentIndex/7018010b-5c6c-40b3-ad0d-2efc7cebfb11.vsidx
/.vs/permissivity-project/FileContentIndex
.vs/permissivity-project/FileContentIndex/53336b6a-ea30-47f5-9f4c-379529dc48a9.vsidx
/.vs/permissivity-project/FileContentIndex
/.vs/permissivity-project
/.vs/permissivity-project
/.vs/permissivity-project
*.vsidx
/.vs
